@charset "utf-8";
/* 글꼴 */
@import url("./font/font.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Noto+Sans+KR:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul, li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
img {
    border: 0;
    vertical-align: middle;
}
html {
    font-size: 16px;
    background: #F2F1EE;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    scroll-behavior:smooth;
}
.show {
    display: block !important;
    transition: all 1s;
}

/* 레이아웃 */
.wrap {
    position: relative;
    display: block;
}
.layout-top {
    width: calc(100% - 65px); /* 수학처럼 셈을 할때는 calc를 쓴다*/
    position: fixed;
    margin-left: 65px;
    display: grid;
    grid-template-columns: 1fr 40px 25px 40px 1fr 40px;
    grid-template-rows: calc(5vh - 1px);
    border-top: 1px solid #C4C4B8;
    border-bottom: 1px solid #C4C4B8;
    z-index: 998;
    background-color: #F2F1EE;
}
.layout {
    margin-left: 65px;
    display: grid;
    grid-template-columns: 1fr 40px 25px 40px 1fr 40px;
    grid-template-rows: 90vh 5vh;    
    border-top: 1px solid #C4C4B8;
}
.layout-top > div {
    border-right: 1px solid #C4C4B8;
}
.layout > div {
    border-right: 1px solid #C4C4B8;
    border-bottom: 1px solid #C4C4B8;
}
.layout-blank {
    height: calc(5vh - 1px);;
    width: 100%;
}

.underline {
    text-decoration: underline 2px;
}
.layout-web {
    position: relative;
}
.layout-web > div, .layout-category {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    margin: 0 0 10px 20px;
}
.layout-category > li > span {
    position: relative;
}
.layout-category > li > span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.5s;
}
.layout-category > li:hover > span::after {
    width: 100%;
}
.upper {
    font-size: 26px;
}
.book-leftnum, .book-rightnum{
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    font-weight: 800;
}
.book-rightnum {
    justify-content: flex-end;
}


/* header */
.header-box {
    position: fixed;
    width: calc(46vw + 65px);
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #C4C4B8;
    background-color: #F2F1EE;
    overflow: hidden;
    transform: translateX(-46vw);
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    z-index: 999;
}
.header-box.headerBox-open {
    transform: translateX(0px);
}
.header-header {
    width: 65px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 30px 0 20px 0;
    border-left: 1px solid #C4C4B8;
}
.hamberger {
    cursor: pointer;
}
.header-arrow img {
    height: 5vh;
    transition: all 1s ease-in-out;
}
.arrow-rotate {
    transition: all 1s ease-in-out;
    transform: rotate(90deg) !important;
}
.header-body {
    height: 100vh;
    margin-top: 40px;
    padding-right: 14vw;
    font-size: 5.5vw;
    line-height: 7vw;
    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
    overflow: hidden;
    transform: translateX(-46vw);
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
}
.header-body.headerBody-open {
    transform: translateX(0px);
}
.header-body li:hover {
    color: #C4C4B8;
}



/* main */
.main {
    position: relative;
    display: block;
}
.main-contents-grid {
    display: grid;
    grid-template-rows: 2fr 15px 1fr;
}
.contents-text {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}
.sub-text {
    line-height: 26px;
    font-size: 21px;
    font-weight: 800;
}
.contents-icon {
    width: 33px;
    height: 33px;
}
.contents-icon img:hover {
    animation: jello-vertical 0.9s both;
}
.contents-icon img {
    float: right;
    height: 100%;
}  
.contents-blank {
    border-top: 1px solid #C4C4B8;
    border-bottom: 1px solid #C4C4B8;
}
.contents-logo {
    margin-top: 30px;
    text-align: center;
}
.title-text {
    display: flex;
    justify-content: center;
}
.title-text p {
    font-size: 9.5vw;
    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
    letter-spacing: 10px;
}
.fade-in-bottom-delay-01{
    animation-duration: 2s;
}
.second-text {
    line-height: 20px;
}
.main_back {
    background-image: url('../images/main/main-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: saturate(40%)
}




/* 내사진 */
.myphoto {
    position: relative;
    display: block;
}
.myphoto-back-01 img, .myphoto-back-02 img {
    width: 100%;
    height: 100%;
    filter: saturate(30%);
}
.mobile-photo {
    display: none;
}
.myphoto-back-01 img:hover, .myphoto-back-02 img:hover {
    filter: saturate(100%);
}


/* about */
.about {
    position: relative;
    display: block;
}
.contents-title, .contents-title-experience {
    font-family: 'Noto Serif Display', serif;
    font-size: 90px;
    font-weight: 500;
    letter-spacing: 2px;
}
.contents-title-experience {
    display: none;
}
.about-text {
    display: grid;
    grid-template-columns: 1fr 2.85fr;
    grid-template-rows: 100%;
}
.about-left {
    padding: 20px 0 0 20px;
    border-right: 1px solid #C4C4B8;
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    color: #909084;
}
.about-right {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-text {
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    text-align: justify;
}
sup {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.right-photo img {
    width: 100%;
}


/* 작업 */
.work {
    position: relative;
    display: block;
}
.work-panel {
    border-bottom: 1px solid #C4C4B8;
    padding-left: 20px;
}
.panel-head {
    cursor: pointer;
    font-size: 23px;
    font-weight: 800;
    height: 5.9vh;
    line-height: 5.9vh;
}
.panel-head:hover {
    color: #79796b;
}
.panel-body {
    display: none;
    height: 66vh;
}
.active .panel-body {
    display: block;
}
.panel-body-text {
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-right: 20px;
}
.site-icon {
    width: 2vw;
    height: 1.8vw;
}
.panel-body-photo {
    position: relative;
    float: right;
    margin: 30px 20px 30px 0;
}
.panel-body-photo-site {
    width: 26vw;
    height: 15vw;
}
.panel-body-photo-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    width: 27vw;
    height: 17vw;
}
.panel-body-text-sort {
    clear: both;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 25px;
    font-weight: 800;
    margin-bottom: 10px;
}
.panel-body-text-sort-left {
    margin-right: 35px;
}
.else-contents {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}
.panel-body-photo-site {
    transition: background-position 5s ease;
    background-size: 100% auto;
    overflow: hidden;
    cursor: pointer;
}
.panel-body-photo .louis {
    background-image: url('../images/work/01-Louis.png');
}
.panel-body-photo .kings {
    background-image: url('../images/work/02-kings.png');
}
.panel-body-photo .dosirak {
    background-image: url('../images/work/03-dosirak.png');
}
.panel-body-photo .mirea {
    background-image: url('../images/work/04-mirea.jpeg');
}
.panel-body-photo:hover .louis, .panel-body-photo:hover .kings,
.panel-body-photo:hover .dosirak, .panel-body-photo:hover .mirea {
    background-position: 0 100%;
}
.louis:after, .kings:after, .dosirak:after, .mirea:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


/* 경험 */
.experience {
    position: relative;
    display: block;
}
.experience-contents {
    display: flex;
    justify-content: space-between;
}
.experience-rec, .experience-photo {
    position: relative;
}
.experience-rec img {
    position: absolute;
    width: 13vw;
}
.experience-rec .rec-01 {
    left: 24vw;
    top: 12vh;
}
.experience-rec .rec-02 {
    left: 11vw;
    top: 32vh;
}
.experience-rec .rec-03 {
    left: 7vw;
    top: 10vh;
}
.experience-rec .rec-04 {
    left: 22vw;
    top: 37vh;
}
.experience-rec .rec-05 {
    left: 18.5vw;
    top: 18vh;
}
.experience-photo img {
    position: absolute;
    border: 5px solid white;
    border-bottom: 20px solid white;

}
.photo-01 {
    width: 20vw;
    left: 18.5vw;
    top: 100px;
    display: none;
}
.photo-02 {
    width: 20vw;
    left: 2.5vw;
    top: 38vh;
    display: none;
}
.photo-03 {
    width: 18vw;
    left: 14vw;
    top: 250px;
    display: none;
}
.photo-04 {
    width: 15.5vw;
    left: 2.5vw;
    top: 50px;
    display: none;
}
.photo-05 {
    width: 13vw;
    left: 26vw;
    top: 200px;
    display: none;
}
.photo-06 {
    width: 18vw;
    left: 23vw;
    top: 40vh;
    display: none;
}
.experience-type-list li {
    display:flex;
    align-items:center;
    height: 130px;
    padding-left: 20px;
    color: #CFCFC5;
    font-size: 80px;
    border-bottom: 1px solid #C4C4B8;
    font-family: 'Noto Serif Display', serif;
    font-weight: 400;
    transition: color 1s;
}
.experience-type-list li:hover {
    color: black;
}
.experience-type-list > li {
    position: relative;
}
.experience-type-list > li > span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width 1s;
}
.experience-type-list > li:hover > span::after {
    width: 100%;
}




/* 애니메이션 */
.fade-in-bottom-01 {
	-webkit-animation: fade-in-bottom 1s ease-in-out both;
	        animation: fade-in-bottom 1s ease-in-out both;
}
.fade-in-bottom-02 {
	-webkit-animation: fade-in-bottom 2s ease-in-out both;
	        animation: fade-in-bottom 2s ease-in-out both;
}
.fade-in-bottom-03 {
	-webkit-animation: fade-in-bottom 1s ease-in-out both;
	        animation: fade-in-bottom 1s ease-in-out both;
            animation-delay: 0.5s;
}.fade-in-bottom-04 {
	-webkit-animation: fade-in-bottom 1s ease-in-out both;
	        animation: fade-in-bottom 1s ease-in-out both;
            animation-delay: 0.3s;
}

.jello-vertical {
	-webkit-animation: jello-vertical 0.9s both;
            animation: jello-vertical 0.9s both;
}
.slide-in-tr {
	-webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
            animation: swirl-in-fwd 0.6s ease-out both;
}
.slide-in-fwd-tl {
	-webkit-animation: slide-in-fwd-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-fwd-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.swirl-in-tl-fwd {
	-webkit-animation: swirl-in-tl-fwd 0.6s ease-out both;
	        animation: swirl-in-tl-fwd 0.6s ease-out both;
}
.slide-in-br {
	-webkit-animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bl {
	-webkit-animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-16 22:54:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */

@-webkit-keyframes fade-in-bottom {
    0%{
        clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        transform:translateY(100%);
    }
    100%{
        clip-path:polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    }
}
@keyframes fade-in-bottom {
    0%{
        clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        transform:translateY(100%);
    }
    100%{
        clip-path:polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    }
}
  
@-webkit-keyframes slide-in-bl {
    0% {
        -webkit-transform: translateY(1000px) translateX(-1000px) rotate(-540deg);
                transform: translateY(1000px) translateX(-1000px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateX(0) rotate(0);
                transform: translateY(0) translateX(0) rotate(0);
        opacity: 1;
    }
}
@keyframes slide-in-bl {
    0% {
        -webkit-transform: translateY(1000px) translateX(-1000px) rotate(-540deg);
                transform: translateY(1000px) translateX(-1000px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateX(0) rotate(0);
                transform: translateY(0) translateX(0) rotate(0);
        opacity: 1;
    }
}
  
@-webkit-keyframes slide-in-br {
    0% {
        -webkit-transform: translateY(1000px) translateX(1000px) rotate(540deg);
                transform: translateY(1000px) translateX(1000px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-br {
    0% {
        -webkit-transform: translateY(1000px) translateX(1000px) rotate(540deg);
                transform: translateY(1000px) translateX(1000px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
        opacity: 1;
    }
}
  
@-webkit-keyframes swirl-in-tl-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        opacity: 1;
    }
}
@keyframes swirl-in-tl-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        opacity: 1;
    }
}
    
@-webkit-keyframes slide-in-fwd-tl {
    0% {
        -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px) rotate(-540deg);
                transform: translateZ(-1400px) translateY(-800px) translateX(-1000px) rotate(-540deg);
                opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0) rotate(0);
                transform: translateZ(0) translateY(0) translateX(0) rotate(0);
                opacity: 1;
    }
}
@keyframes slide-in-fwd-tl {
    0% {
        -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px) rotate(-540deg);
                transform: translateZ(-1400px) translateY(-800px) translateX(-1000px) rotate(-540deg);
                opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0) rotate(0);
                transform: translateZ(0) translateY(0) translateX(0) rotate(0);
                opacity: 1;
    }
}
  
@-webkit-keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
                opacity: 0;
}
    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
                opacity: 1;
    }
}
@keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
                opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
                opacity: 1;
    }
}
  
@-webkit-keyframes slide-in-tr {
    0% {
        -webkit-transform: translateY(-1000px) translateX(1000px) rotate(540deg);
                transform: translateY(-1000px) translateX(1000px) rotate(540deg);
                opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateX(0) rotate(0);
                transform: translateY(0) translateX(0) rotate(0);
                opacity: 1;
    }
}
@keyframes slide-in-tr {
    0% {
        -webkit-transform: translateY(-1000px) translateX(1000px) rotate(540deg);
                transform: translateY(-1000px) translateX(1000px) rotate(540deg);
                opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) translateX(0) rotate(0);
                transform: translateY(0) translateX(0) rotate(0);
                opacity: 1;
    }
}
  

@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
                transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
                transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
